@model List<EmployeeModel>

<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>Name</th>
            <th>Email</th>
            <th>Salary</th>
            <th />
            <th />
        </tr>
    </thead>
    <tbody>
        @foreach (var emplyee in Model)
        {
        <tr>
            <td><a asp-area="" asp-controller="Employee" asp-action="Details" asp-route-employeeId="@emplyee.Employeeid">@emplyee.Employeeid</a></td>
            <td>@emplyee.Name </td>
            <td>@emplyee.Email </td>
            <td>@emplyee.Salary </td>
            <td><button class="btn btn-secondary">Edit</button></td>
            <td><button class="btn btn-danger">Delete</button></td>
        </tr>
        }
    </tbody>
</table>

<a class="btn btn-primary" asp-controller="Employee" asp-action="Create" >Add New Employee</a>


